<div class="schedule-container">
    <div class="schedule-header">
      <button (click)="previousMonth()" class="nav-btn">&lt;</button>
      <h2>{{ currentMonth() | date:'MMMM yyyy' }}</h2>
      <button (click)="nextMonth()" class="nav-btn">&gt;</button>
      <div class="actions-container">
        <input type="file" (change)="onFileChange($event)" #fileInput hidden>
        <button (click)="fileInput.click()" class="import-btn">Import Schedule</button>
        <button (click)="exportSchedule()" class="export-btn">Export Schedule</button>
      </div>
    </div>
    <div class="calendar-container">
      <div class="calendar-header">
        @for (day of daysOfWeek; track day) {
          <div class="day">{{ day }}</div>
        }
      </div>
      <div class="calendar-grid">
        @for (day of calendarDays(); track day.date) {
          <div class="calendar-day" [class.other-month]="!day.isCurrentMonth" (click)="openAddWorkTimeModal(day)">
            <span class="day-number">{{ day.date | date:'d' }}</span>
            <div class="work-times-list">
                @for (workTime of day.workTimes; track workTime; let i = $index) {
                    @if(i <= 1) {
                      <div class="work-time">{{ workTime.startTime }} - {{ workTime.endTime }}: {{ workTime.employee }}</div>
                    }
                  }
                @if(day.workTimes.length > 2){
                  <div class="work-time">More..</div>
                }
            </div>
          </div>
        }
      </div>
    </div>
  

  @if (selectedDay(); as day) {
    <app-schedule-modal
      [day]="day"
      [workTimes]="day.workTimes"
      (save)="saveWorkTimes($event)"
      (closeModal)="closeWorkTimeModal()"
    />
  }
  </div>