.time-off-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
  flex-direction: column;
}
.container-wrapper{
  display: flex;
  gap: 2rem;
}
.new-request-form {
  background-color: var(--card-background);
  padding: 2rem;
  border-radius: 8px;
  flex: 1 1 auto;
}

.new-request-form h2 {
  margin-top: 0;
  color: var(--primary-color);
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--sidebar-active-link);
  background-color: var(--sidebar-background);
  color: var(--text-color);
  border-radius: 4px;
}

button[type="submit"] {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: var(--primary-color-dark);
}

.pending-requests,
.history-section {
  flex: 1 1 auto;
  background-color: var(--card-background);
  padding: 2rem;
  border-radius: 8px;
  color: var(--text-color);
}

.pending-requests h2,
.history-section h2 {
  margin-top: 0;
  color: var(--primary-color);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: var(--sidebar-active-link);
}

th,
td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid var(--sidebar-background);
}

.history-section h2 {
    margin-top: 20px;
}
