.document-container {
  padding: 2rem;
  font-family: sans-serif;
  border-radius: 8px;
}

.header-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.filter-buttons {
  display: flex;
  gap: 1rem;
}

.filter-buttons button,
.upload-button,
.download-button,
.view-button {
  padding: 0.5rem 1rem;
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  color: var(--text-color);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.filter-buttons button:hover,
.upload-button:hover,
.download-button:hover {
  background-color: var(--secondary-color);
}

.filter-buttons button.active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-color: var(--primary-color);
}

.upload-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-color: var(--primary-color);
}

.download-button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-color: var(--secondary-color);
}
.view-button {
  /* background-color: var(--secondary-color);
  color: var(--primary-color); */
  border-color: var(--secondary-color);
  background-color: #3b82f6;
  color: #fff;
}
.button-document {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.document-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--card-background);
  box-shadow: var(--card-shadow);
  border-radius: 8px;
  overflow: hidden;
}

.document-table th,
.document-table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid var(--background-color);
}

.document-table th {
  background-color: var(--primary-color);
  color: black;
}

.badge {
  padding: 0.3rem 0.6rem;
  border-radius: 12px;
  font-size: 0.8rem;
  color: #000;
  text-transform: capitalize;
  font-weight: 600;
}

.badge-request {
  background-color: #3b82f6;
  color: #fff;
}

.badge-warning {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.badge-certificate {
  background-color: #10b981;
  color: #fff;
}
