
.layout-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: var(--sidebar-background);
  color: var(--sidebar-text-color);
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: width 0.3s ease;
  position: relative;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar.collapsed .sidebar-title,
.sidebar.collapsed .sidebar-nav span {
  display: none;
}

.sidebar.collapsed .sidebar-nav a {
  justify-content: center;
}

.sidebar.collapsed .sidebar-nav a svg {
  margin-right: 0;
}

.sidebar-header {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.sidebar-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: var(--primary-color);
}

.sidebar-nav a {
  display: flex;
  align-items: center;
  color: var(--sidebar-text-color);
  text-decoration: none;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.sidebar-nav a:hover,
.sidebar-nav a.active {
  background-color: var(--sidebar-active-link);
  color: var(--primary-color);
}

.sidebar-nav a svg {
  margin-right: 15px;
  fill: var(--primary-color);
}

.main-content {
  flex: 1;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
}

/* .main-content.collapsed {
    margin-left: -170px;
} */

.header {
  background-color: var(--card-background);
  padding: 10px;
  border-bottom: 1px solid var(--sidebar-active-link);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 28px;
  font-weight: bold;
  color: var(--text-color);
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  margin-right: 10px;
  font-weight: 500;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.logout-button {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-button:hover {
  background-color: var(--primary-color);
  color: white;
}

.content-wrapper {
  padding: 20px;
}

.toggle-button {
  background-color: transparent;/*var(--sidebar-active-link);*/
  border: none;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 24px;
  /* position: absolute; */
  top: 20px;
  right: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
  .sidebar {
    width: 70px;
  }

  .sidebar-title,
  .sidebar-nav span {
    display: none;
  }

  .sidebar-nav a {
    justify-content: center;
  }
}
