:root {
  --primary-color: #FFCA28;
  --primary-color-dark: #FFA000;
  --secondary-color: #2c2c3e;
  --sidebar-background: #1E1E1E;
  --sidebar-text-color: #FFFFFF;
  --sidebar-active-link: #3c3c4a;
  --background-color: #121212;
  --text-color: #ffffff;
  --card-background: #1E1E1E;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  --font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}

.main-content {
  transition: margin-left 0.3s ease;
}

.sidebar-collapsed + .main-content {
  margin-left: 80px;
}
