:root {
  --primary-color: #ffca28;
  --primary-color-dark: #ffa000;
  --secondary-color: #2c2c3e;
  --sidebar-background: #1e1e1e;
  --sidebar-text-color: #ffffff;
  --sidebar-active-link: #3c3c4a;
  --background-color: #121212;
  --text-color: #ffffff;
  --card-background: #1e1e1e;
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  --font-family: 'Poppins', sans-serif;
  --font-size: 12px;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--font-size);
}

.main-content {
  transition: margin-left 0.3s ease;
}

.sidebar-collapsed + .main-content {
  margin-left: 80px;
}
